.container_body .feature .informations {
    font-size: 1rem;
}

.container_body .feature .informations .informations_menu {
    display: block;
    font-size: 1.5rem;
    padding-left: 20px;
}

.container_body .feature .informations .informations_information {
    display: block;
    padding-left: 20px;
    margin-top: 20px;
}

.container_body .feature .informations .informations_information .informations_information_title {
    display: block;
    font-size: 1.5rem;
    padding-left: 20px;
}

.container_body .feature.informations .informations_information .informations_information_content {
    display: block;
    font-size: 1rem;
}