.my_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(64, 64, 64, 0.5);
    z-index: 40;
}

.my_modal._nonActive {
    display: none;
}

.my_modal._active {
    display: block;
}

.my_modalContent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 90%;
    min-height: 25vh;
    max-height: 75vh;
    background-color: rgba(175, 50, 50, 1);
    box-shadow: 0 0 10px 10px rgba(64, 64, 64, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.my_modalContentTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}